on: [push]

jobs:
  minify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
        
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Create new folder
        run: |
          rm -rf dist
          mkdir dist
          
      - name: Bundle & Minify folder
        run: |
          npx uglify-js cards/*.js -o dist/bundle.min.js -c -m

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "bot: Add auto minified files"
