on: [push]

jobs:
  minify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
        
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          
      - name: Install
        run: npm ci
        
      - name: Install uglify-js
        run: npm install uglify-js -g

      - name: Minify
        run: uglifyjs mealie-recipe.cards.js  -o output.js -c -m

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "bot: Add auto minified files"
